
h1{
    border-style: solid;
    text-align: center;
    background-color: blue;
    padding:2%;
}

.content{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}

.card{
    margin:3%;
    height:250px;
}
